dill
docker>=2.0.0
flask>=0.12
jupyter
jupyterhub>=0.7.2
matplotlib
numpy
mysqlclient
mysql-connector-python-rf
pandas
pydiscourse
pyyaml
scikit-learn>=0.18.1
scipy
sqlalchemy
sqlalchemy_utils
xxhash>=1.0.1
